<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 left align-item-center">
                        <figure>
                            <img src="/public/image/error.jpg" alt="" srcset="" class="img-fluid" title="Devanshu">
                        </figure>

                        <p>Welcome to weather app</p>
                        <h1>I Am A <span> MERN Stack Developer </span></h1>
                        <a href="/weather"><button>Check now</button></a>
                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!--  Footer-->
    {{>footer}}




</body>

</html>